*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

// colors 

// lightgreen : #7ed56f
// mediumgreen : #55c57a
// darkgreen : #28b485

body{
    padding: 30px;
    font-family: 'lato', sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color:#777;
}


.header{
    height:95vh;
    background-image: (linear-gradient(to right bottom, rgba(126, 213, 111,.8), rgba(40, 180, 133,.8)), url(../images/hero.jpg));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    // clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
    // clip-path: circle(50% at 50% 50%);
    // clip-path: polygon(50% 0, 100% 100%, 0 100%);
}           



.logo-box{
    position: absolute; 
    top:40px;
    left:40px;  
}
.logo{
    height: 40px;
}   

.heading-primary{
    color: #fff;
    text-transform: uppercase;
    position: absolute;
    top: 40%;
    left: 50%;  
    transform: translate(-50%, -40%);   
    text-align: center; 
    &-main{
        // heading-primary-main
        display: block;
        font-size: 60px;
        letter-spacing: 35px;
        animation: moveInRight 1s ease-in-out;
    }
    &-sub{
        // heading-primary-sub
        display: block;
        font-size: 20px;
        letter-spacing: 10px;
        font-weight: 600;  
    }
}

@keyframes moveInRight {
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }
    80%{
        transform: translateX(10px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}